{% extends 'base/base2.html' %}

{% block content %}


{% block messages%}
{% if messages%}
    <div class="alert">
        {{ messages }}
    </div>
{% endif%}
{% endblock%}


<form class="container-fluid">
    {% csrf_token %}
    <div class="row">
        <table class="table table-bordered">
            <tr>
                <th width="10%">Date</th>
                <th width="40%">Entry</th>
                <th width="40%">Amount</th>
                <th></th>
                <th></th>
            </tr>
            {% for ents in ent %}
            <tr>
                <td width="10%">{{ents.date}}</td>
                <td width="40%">{{ents.entry}}</td>
                <td width="40%">{{ents.amount}}</td>
                <td><a href="{% url 'usr:entry_revert' ents.id %}">Revert</a></td>
                <td><a href="{% url 'usr:entry_delete' ents.id  %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</form>

{% endblock %}
