{% extends 'base/base2.html' %}



{% block content %}

{% block messages%}
{% if messages%}
    <div class="alert">
        {{ messages }}
    </div>
{% endif%}
{% endblock%}


<div class="container col-lg-8">
<form action="{% url 'usr:login' %}" method="POST">
    <table class="table">
    <tr>
        <td>
        <label for="username_email_id" class="form-label">Email Address</label>
        <input type="text" name="email" class="form-control" id="username_email_id" 
        placeholder="Email Address">
        </td>
    </tr>               
    <tr>
        <td>    
        <label for="password_id" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="password_id" 
        placeholder="Password" >
        </td>
    </tr>
    <tr>
        <td>
        <input type="submit" class="btn btn-primary" value="Login">
        </td>
    </tr>
</table>
</form>
</div>

{% endblock %}